<ion-view>
	<ion-nav-title>{{'calendarTitle'|translate}}</ion-nav-title>
	<ion-content class="padding">
		<p>
			{{'calendarText'|translate}}
		</p>
		<div id="img-table" class="row responsive-sm">
			<div class="col col-33">
				<div id="img-col-calendar1" class="img-col">
					<!--img class="item-image" ng-src="{{'calendarCoverImage1'|translate}}"/-->
				</div>
			</div>
			<div class="col col-33">
				<div id="img-col-calendar2" class="img-col">
					<!--img class="item-image" ng-src="{{'calendarCoverImage2'|translate}}"/-->
				</div>
			</div>
			<div class="col col-33">
				<div id="img-col-calendar3" class="img-col">
					<!--img class="item-image" ng-src="{{'calendarCoverImage3'|translate}}"/-->
				</div>
			</div>
		</div>
		<div class="center-element">
			<a class="button icon icon-right details-button" href="#/app/calendar-list">{{'details'|translate}}</a>
		</div>
	</ion-content>
</ion-view>
