<ion-view>
	<ion-nav-title>{{cultivar.title}}</ion-nav-title>
	<ion-content class="padding">
		
		<div class="row responsive-lg">
			<div class="col col-50">
				<div class="list card">
					<div class="item item-image">
						<img ng-src="{{cultivar.image}}"/>
					</div>
				</div>
			</div>
			<div class="col col-50">
				<div class="list card">
					<div class="item item-divider">
						{{'origin'|translate}}
					</div>
					<div class="item item-text-wrap">
						{{cultivar.origin}}
					</div>
					<div class="item item-divider">
						{{'characteristics'|translate}}
						</div>
					<div class="item item-text-wrap">
						{{cultivar.characteristics}}
					</div>
					<div class="item item-divider">
						{{'productivity'|translate}}
					</div>
					<div class="item item-text-wrap">
						{{cultivar.productivity}}
					</div>
					<div class="item item-divider">
						{{'pollination'|translate}}
					</div>
					<div class="item item-text-wrap">
						{{cultivar.pollination}}
					</div>
					<div class="item item-divider">
						{{'resistance'|translate}}
					</div>
					<div class="item item-text-wrap">
						{{cultivar.resistance}}
					</div>
					<div class="item item-divider">
						{{'oil'|translate}}
					</div>
					<div class="item item-text-wrap">
						{{cultivar.oil}}
					</div>
				</div>
			</div>
		</div>
		
		<!--
		<img class="itemImage" ng-src="{{cultivar.image}}"/>
		
		<h2>{{'origin'|translate}}</h2>
		<p>{{cultivar.origin}}</p>
		
		<h2>{{'characteristics'|translate}}</h2>
		<p>{{cultivar.characteristics}}</p>
		
		<h2>{{'productivity'|translate}}</h2>
		<p>{{cultivar.productivity}}</p>
		
		<h2>{{'pollination'|translate}}</h2>
		<p>{{cultivar.pollination}}</p>
		
		<h2>{{'resistance'|translate}}</h2>
		<p>{{cultivar.resistance}}</p>
		
		<h2>{{'oil'|translate}}</h2>
		<p>{{cultivar.oil}}</p>
		-->
		
	</ion-content>
</ion-view>
