<ion-view>
	<ion-nav-title>{{'cultivarsTitle'|translate}}</ion-nav-title>
	
	<ion-nav-buttons side="right">
        <!-- un-comment to enable for some future use if neccessary -->
		<button class="button button-clear ion-navicon-round" ng-click="showPopup()"></button>
    </ion-nav-buttons>
	
	<ion-content class="padding">
		<div id="img-table" class="row responsive-sm">
			<div class="col col-33">
				<div id="img-col-cultivar1" class="img-col">
				</div>
			</div>
			<div class="col col-33">
				<div id="img-col-cultivar2" class="img-col">
				</div>
			</div>
			<div class="col col-33">
				<div id="img-col-cultivar3" class="img-col">
				</div>
			</div>
		</div>
				
		<div class="list card">
			<div class="item item-text-wrap">
				{{'cultivarsText'|translate}}
			</div>
			
			<div class="item">
				<div class="center-element">
					<a class="button details-button button-balanced" href="#/app/cultivars-list">{{'details'|translate}}</a>
				</div>
			</div>
			
		</div>
		
	</ion-content>
</ion-view>
