<ion-view>
	<ion-nav-title>{{'cultivarsTitle'|translate}}</ion-nav-title>
	<ion-content class="padding">
		<div class="list card">
		
			<div class="item item-image">
				<div id="img-table" class="row responsive-sm">
					<div class="col col-33">
						<div id="img-col-cultivar1" class="img-col">
						</div>
					</div>
					<div class="col col-33">
						<div id="img-col-cultivar2" class="img-col">
						</div>
					</div>
					<div class="col col-33">
						<div id="img-col-cultivar3" class="img-col">
						</div>
					</div>
				</div>
			</div>
			
			<div class="item item-body">
				<p>
					{{'cultivarsText'|translate}}
				</p>
			</div>
			
			<div class="item">
				<div class="center-element">
					<a class="button details-button button-balanced" href="#/app/cultivars-list">{{'details'|translate}}</a>
				</div>
			</div>
			
		</div>
		<!--
		<p>
			{{'cultivarsText'|translate}}
		</p>
		<div id="img-table" class="row responsive-sm">
			<div class="col col-33">
				<div id="img-col-cultivar1" class="img-col">
				</div>
			</div>
			<div class="col col-33">
				<div id="img-col-cultivar2" class="img-col">
				</div>
			</div>
			<div class="col col-33">
				<div id="img-col-cultivar3" class="img-col">
				</div>
			</div>
		</div>
		<div class="center-element">
			<a class="button icon details-button button-balanced" href="#/app/cultivars-list">{{'details'|translate}}</a>
		</div>
		-->
		
	</ion-content>
</ion-view>
