<ion-view>
	<ion-nav-title>{{cultivar.title}}</ion-nav-title>
	<ion-content>
		<img class="itemImage" ng-src="{{cultivar.image}}"/>
		
		<h2>{{'origin'|translate}}</h2>
		<p>{{cultivar.origin}}</p>
		
		<h2>{{'characteristics'|translate}}</h2>
		<p>{{cultivar.characteristics}}</p>
		
		<h2>{{'productivity'|translate}}</h2>
		<p>{{cultivar.productivity}}</p>
		
		<h2>{{'pollination'|translate}}</h2>
		<p>{{cultivar.pollination}}</p>
		
		<h2>{{'resistance'|translate}}</h2>
		<p>{{cultivar.resistance}}</p>
		
		<h2>{{'oil'|translate}}</h2>
		<p>{{cultivar.oil}}</p>
		
	</ion-content>
</ion-view>
