<ion-view>
	<ion-nav-title>{{'diseaseTitle'|translate}}</ion-nav-title>
	<ion-content class="padding">
		<p>
			{{'diseasesText'|translate}}
		</p>
		<div id="img-table" class="row responsive-sm">
			<div class="col col-33">
				<div id="img-col-disease1" class="img-col">
					<!--img class="item-image" ng-src="{{'diseasesCoverImage1'|translate}}"/-->
				</div>
			</div>
			<div class="col col-33">
				<div id="img-col-disease2" class="img-col">
					<!--img class="item-image" ng-src="{{'diseasesCoverImage2'|translate}}"/-->
				</div>
			</div>
			<div class="col col-33">
				<div id="img-col-disease3" class="img-col">
					<!--img class="item-image" ng-src="{{'diseasesCoverImage3'|translate}}"/-->
				</div>
			</div>
		</div>
		<div class="center-element">
			<a class="button icon icon-right details-button" href="#/app/diseases-list">{{'details'|translate}}</a>
		</div>
	</ion-content>
</ion-view>
