<ion-view>
	<ion-nav-title>{{'diseaseTitle'|translate}}</ion-nav-title>
	<ion-content class="padding">
		<div id="img-table" class="row responsive-sm">
			<div class="col col-33">
				<div id="img-col-disease1" class="img-col">
				</div>
			</div>
			<div class="col col-33">
				<div id="img-col-disease2" class="img-col">
				</div>
			</div>
			<div class="col col-33">
				<div id="img-col-disease3" class="img-col">
				</div>
			</div>
		</div>
			
		<div class="list card">
			<div class="item item-text-wrap">
				{{'diseasesText'|translate}}
			</div>
			
			<div class="item">
				<div class="center-element">
					<a class="button details-button button-balanced" href="#/app/diseases-list">{{'details'|translate}}</a>
				</div>
			</div>
			
		</div>
		<!--
		<p>
			{{'diseasesText'|translate}}
		</p>
		<div id="img-table" class="row responsive-sm">
			<div class="col col-33">
				<div id="img-col-disease1" class="img-col">
				</div>
			</div>
			<div class="col col-33">
				<div id="img-col-disease2" class="img-col">
				</div>
			</div>
			<div class="col col-33">
				<div id="img-col-disease3" class="img-col">
				</div>
			</div>
		</div>
		<div class="center-element">
			<a class="button icon icon-right details-button" href="#/app/diseases-list">{{'details'|translate}}</a>
		</div>
		-->
		
	</ion-content>
</ion-view>
