<ion-view>
	<ion-nav-title>{{disease.title}}</ion-nav-title>
	<ion-content>
		<div class="img-wrapper">
			<div class="swiper-container gallery-top">
				<!-- Additional required wrapper -->
				<div class="swiper-wrapper">
					<img class="image-top" ng-src="{{disease.image}}"/>
				</div>
				<!-- Add Arrows -->
				<!--div class="swiper-button-next swiper-button-white"></div-->
				<!--div class="swiper-button-prev swiper-button-white"></div-->
			</div>
			<div class="swiper-container gallery-thumbs">
				<!-- Additional required wrapper -->
				<div class="swiper-wrapper">
					<!-- Slides -->
					<ion-slides class="slides-table" slider="swiper" options="swiperThumbOptions">
						<ion-slide-page class="swiper-slide" ng-repeat="photo in photos">
							<img class="item-image" ng-src="{{photo.src}}" ng-click="openModal({{$index}})"/>
						</ion-slide-page>
					</ion-slides>
				</div>
			</div>
		</div>
		
		<div class="container">
			<h2>{{'title'|translate}}</h2>
			<p>{{disease.latinTitle}}</p>
			
			<h2>{{'description'|translate}}</h2>
			<p>{{disease.description}}</p>
			
			<h2>{{'symptoms'|translate}}</h2>
			<p>{{disease.symptoms}}</p>
			
			<h2>{{'prevention'|translate}}</h2>
			<p>{{disease.prevention}}</p>
		</div>
		<!--p>
			<a class="button icon icon-right ion-chevron-right" ng-click="openModal(0)">{{'gallery'|translate}}</a>
		</p-->
	</ion-content>
</ion-view>
