<ion-view>
	<ion-nav-title>{{'langTitle' | translate}}</ion-nav-title>
	<ion-content>
		<ion-list>
			<ion-radio class="lang-radio" ng-model="language" ng-value="'HR'" ng-click="setLanguage(language)"><img src="img/hr.png"/><span>HR</span></ion-radio>
			<ion-radio class="lang-radio" ng-model="language" ng-value="'IT'" ng-click="setLanguage(language)"><img src="img/it.png"/><span>IT</span></ion-radio>
			<ion-radio class="lang-radio" ng-model="language" ng-value="'EN'" ng-click="setLanguage(language)"><img src="img/en.png"/><span>EN</span></ion-radio>
		</ion-list>
	</ion-content>
</ion-view>
