<ion-view>
	<ion-nav-title>{{month.title}}</ion-nav-title>
	<ion-content>
		
		<div class="list card">
			
			<div class="item item-image">
				<div class="img-wrapper">
					<div class="swiper-container gallery-top">
						<!-- Additional required wrapper -->
						<div class="swiper-wrapper">
							<img class="image-top" ng-src="{{month.image}}"/>
						</div>
					</div>
					<div class="swiper-container gallery-thumbs">
						<!-- Additional required wrapper -->
						< div class="swiper-wrapper" >
							<!-- Slides -->
							< ion-slides class="slides-table" slider="swiper" options="swiperThumbOptions">
								<ion-slide-page class="swiper-slide" ng-repeat="photo in photos">
									<img ng-src="{{photo.src}}" ng-click="openModal({{$index}})"/>
								</ion-slide-page>
							</ion-slides>
						</div>
					</div>
				</div>
			</div >
			<!--div class="item item-image">
				<img ng-src="{{month.image}}"/>
				<div class="img-wrapper">
					<div class="swiper-container gallery-thumbs">
						<div class="swiper-wrapper">
							<ion-slides class="slides-table" slider="swiper" options="swiperThumbOptions">
								<ion-slide-page class="swiper-slide" ng-repeat="photo in photos">
									<img ng-src="{{photo.src}}" ng-click="openModal({{$index}})"/>
								</ion-slide-page>
							</ion-slides>
						</div>
					</div>
				</div>
			</div-->
			
			<div ng-repeat="(key, value) in month">
				<div ng-if="key != 'id' && key != 'subTitle' && key != 'image' && key != 'title' && key != 'imageArray'">
					<div class="item item-divider">
						{{key | translate}}
					</div>
					<div class="item item-text-wrap">
						{{value}}
					</div>
				</div>
			</div>
		
		</div>
		<!--
		<div ng-repeat="(key, value) in month">
			<div ng-if="key != 'id' && key != 'subTitle' && key != 'image' && key != 'title' && key != 'imageArray'">
				<h2>{{key | translate}}</h2>
				<p>{{value}}</p>
			</div>
		</div>
		-->
		<!--p>
			<a class="button icon icon-right ion-chevron-right" ng-click="openModal(0)">{{'gallery'|translate}}</a>
		</p-->
	</ion-content>
</ion-view>
