<ion-modal-view>
	<div class="modal image-modal transparent modal-image-container">
		<ion-header-bar class="transparent buttons">
			<div class="buttons button-right">
				<button class="button icon ion-close-round" ng-click="closeModal()"></button>
			</div>
		</ion-header-bar>
		
		<ion-slides options="options" slider="slider" on-slide-changed="slideChanged(index)" >
			<ion-slide-page ng-repeat="photo in photos">
				<!--div class="modal-image-container"-->
					<img ng-src="{{photo.src}}" class="fullscreen-image"/>
			    <!--/div-->
			</ion-slide-page>
		</ion-slides>
	</div>
</ion-modal-view>