<ion-view>
	<ion-nav-title>{{'settings'|translate}}</ion-nav-title>
	<ion-content>
		<ion-list>
			<ion-item class="item item-divider">
					<div><span class="padding">{{'langTitle'|translate}}</span></div>
				</ion-item>
			<ion-radio class="lang-radio" ng-model="language" ng-value="'HR'" ng-click="setLanguage(language)">
				<div class="row">
					<div class="col col-20"><img src="img/hr.png"/></div>
					<div class="col col-80">HR</div>
				</div>
			</ion-radio>
			<ion-radio class="lang-radio" ng-model="language" ng-value="'HR'" ng-click="setLanguage(language)"><img src="img/hr.png"/><span>HR</span></ion-radio>
			<ion-radio class="lang-radio" ng-model="language" ng-value="'IT'" ng-click="setLanguage(language)"><img src="img/it.png"/><span>IT</span></ion-radio>
			<ion-radio class="lang-radio" ng-model="language" ng-value="'EN'" ng-click="setLanguage(language)"><img src="img/en.png"/><span>EN</span></ion-radio>
		
			<ion-item class="item item-divider">
				<div><span class="padding">{{'aboutTitle' | translate}}</span></div>
			</ion-item>
			<ion-item class="item item-icon-left item-icon-right" href="http://www.dolija.com">
				<i class="icon ion-android-globe"></i>
				<div><span class="padding">{{'websiteTitle'|translate}}</span></div>
				<!--i class="icon ion-ios-arrow-forward"></i-->
			</ion-item>
			<!--ion-item class="item item-icon-left item-icon-right" href="mailto:dolija@dolija.com?subject=ExtraVergine App Feedback&body=body goes here"-->
			<ion-item class="item item-icon-left item-icon-right" ng-click="sendMail()">
				<i class="icon ion-email"></i>
				<div><span class="padding">{{'feedbackTitle'|translate}}</span></div>
				<!--i class="icon ion-ios-arrow-forward"></i-->
			</ion-item>
			<ion-item class="item item-icon-left item-icon-right" href="https://play.google.com/store/apps/details?id=com.babinkuk.extravergine">
				<i class="icon ion-android-playstore"></i>
				<div><span class="padding">{{'rateTitle'|translate}}</span></div>
				<!--i class="icon ion-ios-arrow-forward"></i-->
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
