<ion-view>
	<ion-nav-title>{{'settings'|translate}}</ion-nav-title>
	<ion-content>
		<ion-list>
			<ion-item class="item item-divider">
				<div><span class="padding">{{'langTitle'|translate}}</span></div>
			</ion-item>
			<ion-radio ng-model="language" ng-value="'HR'" ng-click="setLanguage(language)"><div class="lang-radio"><img src="img/hr.png"/><span>HR</span></div></ion-radio>
			<ion-radio ng-model="language" ng-value="'IT'" ng-click="setLanguage(language)"><div class="lang-radio"><img src="img/it.png"/><span>IT</span></div></ion-radio>
			<ion-radio ng-model="language" ng-value="'EN'" ng-click="setLanguage(language)"><div class="lang-radio"><img src="img/en.png"/><span>EN</span></div></ion-radio>
		
			<ion-item class="item item-divider">
				<div><span class="padding">{{'aboutTitle' | translate}}</span></div>
			</ion-item>
			<ion-item class="item item-icon-left item-icon-right" href="https://www.dolija.com">
				<i class="icon ion-android-globe"></i>
				<div><span class="padding">{{'websiteTitle'|translate}}</span></div>
				<!--i class="icon ion-ios-arrow-forward"></i-->
			</ion-item>
			<!--ion-item class="item item-icon-left item-icon-right" href="mailto:dolija@dolija.com?subject=ExtraVergine App Feedback&body=body goes here"-->
			<ion-item class="item item-icon-left item-icon-right" ng-click="sendMail()">
				<i class="icon ion-email"></i>
				<div><span class="padding">{{'feedbackTitle'|translate}}</span></div>
				<!--i class="icon ion-ios-arrow-forward"></i-->
			</ion-item>
			<ion-item class="item item-icon-left item-icon-right" href="https://play.google.com/store/apps/details?id=com.babinkuk.extravergine">
				<i class="icon ion-android-playstore"></i>
				<div><span class="padding">{{'rateTitle'|translate}}</span></div>
				<!--i class="icon ion-ios-arrow-forward"></i-->
			</ion-item>
			
			<ion-item class="item item-divider">
				<div><span class="padding">{{'otherTitle' | translate}}</span></div>
			</ion-item>
			<ion-item class="item item-icon-left" menu-close href="#/app/sources">
				<i class="icon ion-ios-book"></i>
				<div><span class="padding">{{'sourcesTitle'|translate}}</span></div>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
