<ion-view>
	<ion-nav-title>{{'sourcesTitle'|translate}}</ion-nav-title>
	<ion-content>
		<ion-list>
			<ion-item class="item">
				<h2>
					<div class="list-item-title">
						Priručnik za maslinare (Manuale di olivocultura)
					</div>
				</h2>
				<p class="list-item-subtitle">Italo Žužić / Franko Raguž</p>
				<p class="list-item-subtitle">Vodnjan (Dignano), 1999</p>
			</ion-item>
			<ion-item class="item">
				<h2>
					<div class="list-item-title">
						Praktičan uzgoj maslina
					</div>
				</h2>
				<p class="list-item-subtitle">Sinaj Bulimbašić</p>
				<p class="list-item-subtitle">Agroknjiga Split, 2007</p>
			</ion-item>
			<ion-item class="item">
				<h2>
					<div class="list-item-title">
						Zaštita masline u ekološkoj proizvodnji
					</div>
				</h2>
				<p class="list-item-subtitle">Mario Bjeliš</p>
				<p class="list-item-subtitle">Vlastita naklada, 2005</p>
			</ion-item>
			<ion-item class="item">
				<h2>
					<div class="list-item-title">
						Rezidba masline
					</div>
				</h2>
				<p class="list-item-subtitle">Dobroslav Elezović</p>
				<p class="list-item-subtitle">Agroknjiga Split, 2007</p>
			</ion-item>
			<ion-item class="item">
				<h2>
					<div class="list-item-title">
						Rezidba i uzgojni oblici za suvremeni uzgoj maslina
					</div>
				</h2>
				<p class="list-item-subtitle">Riccardo Gucci / Claudio Cantini</p>
				<p class="list-item-subtitle">Uliks Rijeka, 2008</p>
			</ion-item>
			<ion-item class="item">
				<h2>
					<div class="list-item-title">
						Maslina i maslinovo ulje visoke kakvoće u Hrvatskoj
					</div>
				</h2>
				<p class="list-item-subtitle">Branko Škarica / Italo Žužić / Mario Bonifačić</p>
				<p class="list-item-subtitle">Vlastita naklada, 1997</p>
			</ion-item>
			<ion-item class="item">
				<h2>
					<div class="list-item-title">
						Maslina i maslinovo ulje - A-Ž
					</div>
				</h2>
				<p class="list-item-subtitle">Božena Zadro (ur.) / Slavko Perica (ur.)</p>
				<p class="list-item-subtitle">Naklada Zadro, 2007</p>
			</ion-item>
			<ion-item class="item"  href="http://www.savjetodavna.hr">
				<h2>
					<div class="list-item-title">
						Savjetodavna služba
					</div>
				</h2>
				<p class="list-item-subtitle">Tel.: ++385 (0)1 4882 700</p>
				<p class="list-item-subtitle">www.savjetodavna.hr</p>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
